
<form asp-action="Index">
    <div class="form-group">
        <label class="control-label"></label>
        <input name="holderName" class="form-control" />
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

