
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>About</h1>
    <p>GRUPO B</p>
    <p>Desenvolvedores:</p>
    <p>Julia Matias Mizuguchi</p>
    <p>Juliana Girotto Leite</p>
</div>



