
@{
    ViewData["Title"] = "Contactos_JMJL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contactos</h1>

<address>
    Discoteca Giradisco<br />
    Rua das Músicas, nº1<br />
    2815-SINFONIETA AFONSO<br />
    Portugal<br />
    <abbr title="Phone">P:</abbr>
    210795000
</address>
<address>
    <strong>Vendas:</strong> <a href="mailto:Vendas@example.com">Vendas@example.com</a><br />
    <strong>Marketing:</strong> <a ref="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

